<!-- 회원가입 -->
{% extends '_layout.html' %}

{% block content %}
    <section class="container">
        <div class="content content1">
            <div class="col text-center m-20">
                <div class="col text-center m-5"></div>
                <div class="col text-center">
                    <a class="navbar-brand" href="#">
                        <img src="/static/image/mini_instargram_logo.png" alt="" width="auto" class="d-inline-block">
                    </a>
                    <h4 style="margin-top: 1.5rem;">비밀번호 초기화</h4>
                </div>
                <div class="col text-center m-5"></div>

                <form id="sign-form" class="row login_form" method="post">
                    {% csrf_token %}
                    <div class="col text-center">
                        <div class="col-md-12 form-group">
                            <label style="border-top: 1px solid #DBDBDB;">
                                <input id="password" style="margin-bottom: .4rem; margin-top: .8rem;" aria-label="새 비밀번호" class="form-control" aria-required="true" name="password" type="password" value="" placeholder="새 비밀번호" onfocus="this.placeholder = ''" onblur="this.placeholder = '새 비밀번호'">
                            </label>
                        </div>
                        <div class="col-md-12 form-group">
                            <label>
                                <input id="password-check" style="margin-bottom: .4rem;" aria-label="비밀번호 확인" class="form-control" aria-required="true" name="password-check" type="password" value="" placeholder="비밀번호 확인" onfocus="this.placeholder = ''" onblur="this.placeholder = '비밀번호 확인'">
                            </label>
                        </div>
                        <div>
                            <p id="error-msg" style="color: red; font-size: 10pt"></p>
                        </div>
                        <div class="col-md-12 form-group ">
                            <button id="submit" style="margin-top: .5rem; width: auto; min-width: 12rem; margin-bottom: 2rem;" type="button" value="submit" class="btn btn-primary" onclick="ajaxSign()" disabled>변경하기</button>
                        </div>
                        <div class="col  m-5"></div>
                    </div>
                </form>
            </div>
        </div>
        <script src="/static/jquery/jquery-3.2.1.min.js"></script>
        <script>
            $(document).ready(function () {
                $('#password').on('input change', function () {
                    handleInputChange()
                })
                $('#password-check').on('input change', function () {
                    handleInputChange()
                })
            })
        </script>
        <script>
            function handleInputChange() {
                const err_msg =  document.querySelector("#error-msg")
                $('#submit').prop('disabled', true)
                if (!($('#password').val().length >= 4)) {
                    err_msg.innerText = "비밀번호를 4자리 이상 입력해주세요"
                } else if (!($('#password-check').val().length >= 4)) {
                    err_msg.innerText = "비밀번호를 한번 더 입력해주세요"
                } else if (!($('#password').val() === $('#password-check').val())) {
                    err_msg.innerText = "비밀번호가 다릅니다"
                } else {
                    err_msg.innerText = ""
                    $('#submit').prop('disabled', false)
                }
            }
        </script>
        <script>
            function getCookie(name) {
                let cookieValue = null;
                if (document.cookie && document.cookie !== '') {
                    const cookies = document.cookie.split(';');
                    for (let i = 0; i < cookies.length; i++) {
                        const cookie = cookies[i].trim();
                        if (cookie.substring(0, name.length + 1) === (name + '=')) {
                            cookieValue = decodeURIComponent(cookie.substring(name.length + 1));
                            break;
                        }
                    }
                }
                return cookieValue;
            }
        </script>
        <script>
            function ajaxSign() {
                const submitBtn = $('#submit')
                submitBtn.prop('disabled', true);

                const password = $('#password').val()
                const password_check = $('#password-check').val()
                if(password.length > 0) {
                    $.ajax({
                        type: 'POST',
                        url:'/changepw',
                        data: {
                            'csrfmiddlewaretoken': getCookie('csrftoken'),
                            'password': password,
                            'password-check': password_check,
                        },
                        success:function(res){
                            if(res.changepwRes === "success"){
                                location.href = "/"
                            }
                            $('#password').value = ""
                        }
                    })
                }
                submitBtn.prop('disabled', false);
            }
        </script>
    </section>
{% endblock %}