{% extends '_layout.html' %}

{% block content %}
    <section class="container">
        <div class="content post-content">
            <h6 style="text-align: center;"><strong>수정</strong></h6>
        </div>
        <div class="content post-content add-post content-ver1">
            <form method="post" enctype="multipart/form-data">
                {% csrf_token %}
                <div class="form-group left left-margin">
                    <div class="border rounded-3" style="width: 500px; height: 500px; overflow: hidden">
                        <img src="{{ image.url }}" alt="">
                    </div>
                    <input type="file" class="form-control-file" style="margin-top: 15px; margin-bottom: 15px;" id="img" name="img" accept="image/*">
                </div>
                <div class="left">
                    <div>
                        <p>
                            <textarea class="form-control" id="desc" name="desc" placeholder="설명">{{ desc }}</textarea>
                        </p>
                    </div>
                    <div class="col-12 btn-group">
                        <button type="button" class="btn btn-secondary mx-1" onclick="cancelBtn()" >취소</button>
                        <button type="submit" class="btn btn-primary mx-1">완료</button>
                    </div>
                </div>
            </form>
        </div>
    <script>
        function cancelBtn() {
            location.href = "/";
        }
    </script>
    </section>
{% endblock %}
