{% extends '_layout.html' %}

{% block content %}
    <section class="container">
        <div class="content content1">
            <div class="col text-center m-20">
                <div class="col text-center m-5"></div>
                <div class="col text-center">
                    <a class="navbar-brand" href="#">
                        <img src="./image/mini_instargram_logo.png" alt="" width="auto" class="d-inline-block">
                    </a>
                    <h4 style="margin-top: 1.5rem;">비밀번호 찾기</h4>
                </div>
                <div class="col text-center m-5"></div>

                <form class="row login_form" method="post">
                    <div class="col text-center">
                        <div class="col-md-12 form-group">
                            <label>
                                <input id="name" style="margin-bottom: .4rem;" aria-label="성명" class="form-control" aria-required="true" name="name"
                                    type="text" value="" placeholder="성명" onfocus="this.placeholder = ''"
                                    onblur="this.placeholder = '성명'">
                            </label>
                        </div>
                        <div class="col-md-12 form-group">
                            <label>
                                <input id="email" style="margin-bottom: .8rem;" aria-label="이메일" class="form-control" aria-required="true" name="email"
                                    type="email" value="" placeholder="이메일" onfocus="this.placeholder = ''"
                                    onblur="this.placeholder = '이메일'">
                            </label>
                        </div>
                        <div class="col text-center m-2"></div>
                        <div class="col-md-12 form-group ">
                            <button style="margin-top: .5rem; width: auto; min-width: 12rem; margin-bottom: 2rem;"
                                type="submit" value="submit" class="btn btn-primary" disabled>인증번호 보내기</button>
                        </div>
                        <div class="col  m-5"></div>
                    </div>
                </form>
            </div>
        </div>
        <script>
            $(document).ready(function () {
                $('#name').on('input change', function () {
                    if ($(this).val().length > 0 && $('#email').val().length > 3) {
                        $('#submit').prop('disabled', false);
                    } else {
                        $('#submit').prop('disabled', true);
                    }
                });
            });
            $(document).ready(function () {
                $('#email').on('input change', function () {
                    if ($(this).val().length > 3 && $('#name').val().length > 0) {
                        $('#submit').prop('disabled', false);
                    } else {
                        $('#submit').prop('disabled', true);
                    }
                });
            });
        </script>
    </section>
{% endblock %}