{% extends '_layout.html' %}
{% load humanize %}

{% block navbar %}
    <li class="nav-item">
        <a class="nav-link active" href="/">홈</a>
    </li>
    <li class="nav-item">
        <a class="nav-link" href="/addpost">게시글 추가</a>
    </li>
    <li class="nav-item dropdown">
        <a class="nav-link dropdown-toggle" role="button" data-bs-toggle="dropdown" aria-expanded="false">
            <img src="{{ profile_pic }}" width="30rem" class="d-inline-block rounded-circle" alt="">
        </a>
        <ul class="dropdown-menu">
            <li><a class="dropdown-item" href="/mypage">프로필</a></li>
            <li><a class="dropdown-item" href="/setting">설정</a></li>
            <li>
                <hr class="dropdown-divider">
            </li>
            <li><a class="dropdown-item" href="/logout">로그아웃</a></li>
        </ul>
    </li>
{% endblock %}

{% block content %}
    <section class="container">
        <div class="row infinite-container">
            {% for post in posts %}
                <div class="infinite-item">
                    <div>
                        <div class="content">
                            <div>
                                <ul class="navbar navbar-light navbar-expand-lg navbar-light" style="margin-top: -1rem; margin-bottom: -.2rem;">
                                    <li class="nav-item">
                                        <a class="nav-link" href="/@{{ post.author.nickname }}">
                                            <img onload="ajaxHeartCheck({{ post.id }})" src="{{ post.author.profile_pic.url }}" style="border-radius: 20px; margin-left: -3rem;" width="30rem" class="d-inline-block" alt="">
                                            <b class="user" style="color: black;">&nbsp;{{ post.author.nickname }}</b>
                                        </a>
                                    </li>
                                    <li>
                                        <p style="padding-top: .6rem; text-align: center;"></p>
                                    </li>
                                    {% if user_id == post.author.id %}
                                    <li class="nav-item dropdown ms-auto" style="padding-bottom: .5rem;">
                                        <a class="nav-link" href="" id="navbarDropdown" role="button" data-bs-toggle="dropdown" aria-expanded="false">
                                            <i class="fas fa-caret-down" style="color: #8E8E8E;"></i>
                                        </a>
                                        <ul class="dropdown-menu" aria-labelledby="navbarDropdown">
                                            <li><a class="dropdown-item" href="/editpost?id={{ post.id }}">수정</a></li>
                                            <li><hr class="dropdown-divider"></li>
                                            <li><a class="dropdown-item" href="" onclick="confirmDelete({{ post.id }})">삭제</a></li>
                                        </ul>
                                    </li>
                                    {% endif %}
                                </ul>
                                <div class="border rounded-3" style="width: 100%;">
                                    <div style="position: relative; padding-top: 100%; overflow: hidden">
                                        <img style="position: absolute; top: 0; left: 0; right: 0; bottom: 0;" src="{{ post.image.url }}" alt="">
                                    </div>
                                </div>
                            </div>
                            <div>
                                <div>
                                    <div class="lov">
                                        <a onclick="ajaxHeart({{ post.id }})"><i id="heart-{{ post.id }}" class="far fa-heart fa-sm"></i></a>
                                        <span id="like-{{ post.id }}">{{ post.post_like.count|intword }}</span>
                                    </div>
                                    <div>
                                        <p class="explanation">
                                            <b class="user">{{ post.author.nickname }}</b>&nbsp;&nbsp;{{ post.description|truncatechars:30 }}
                                        </p>
                                    </div>
                                </div>
                                <div>
                                    <div class="commet" style="height: auto;">
                                        <div id="comment_obj_{{ post.id }}">
                                            {% for comment in post.post_comment.all|slice:"0:3" %}
                                                <p class="sympathy">
                                                    <b class="user">{{ comment.user_id.nickname }}</b>&nbsp;&nbsp;{{ comment.comment|truncatechars:30 }}
                                                </p>
                                            {% endfor %}
                                        </div>
                                        <a href="/post?id={{ post.id }}">
                                            <p class="sympathy" style="color: #8E8E8E; margin-left: .2rem;">
                                                댓글 더보기
                                            </p>
                                        </a>
                                    </div>
                                    <div>
                                        <p style="font-size: 9px; color: #8E8E8E; margin-bottom: auto;">
                                            &nbsp;&nbsp;{{ post.created_at.date }}
                                        </p>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="comment">
                            <form class="form-inline">
                                <div class="input-group">
                                    <input id="comment-input-{{ post.id }}" type="text" class="form-control" placeholder="댓글 달기" onkeyup="changeCol({{ post.id }})">
                                    <button id="submit-{{ post.id }}" type="button" style="width: 70px;" onclick="ajaxComment({{ post.id }})">게시</button>
                                </div>
                            </form>
                        </div>
                    </div>
                </div>
            {% endfor %}
        </div>
        {% if page_obj.has_next %}
            <a class="infinite-more-link" href="?page={{ page_obj.next_page_number }}"></a>
        {% endif %}
        <div class="d-flex justify-content-center" >
            <div class="spinner-border" role="status"></div>
        </div>

        <script type="module" src="/static/jquery/jquery-3.2.1.min.js"></script>
        <script type="module">
            $.ajax({
                type: 'GET',
                url:'/check',
                success:(res) => {
                    if (res.login === "false") {
                        location.href = "/login"
                    } else if (res.verified === "false") {
                        location.href = "/verify"
                    }
                }
            })
        </script>
        <script src="/static/jquery/jquery-3.2.1.min.js"></script>
        <script src="/static/el-pagination/js/jquery.waypoints.min.js"></script>
        <script src="/static/el-pagination/js/infinite.min.js"></script>
        <script>
            let infinite = new Waypoint.Infinite({
                element: $('.infinite-container')[0],
                handler: function(direction) {
            },
            offset: 'bottom-in-view',

            onBeforePageLoad: function () {
            $('.spinner-border').show();
            },
            onAfterPageLoad: function () {
            $('.spinner-border').hide();
            }
            });
        </script>
        <script>
            window.onload = function() {
                $('.spinner-border').hide();
            }
            $(document).ready(function(){
                $('.spinner-border').show();
            });
        </script>
        <script>
            function getCookie(name) {
                let cookieValue = null;
                if (document.cookie && document.cookie !== '') {
                    const cookies = document.cookie.split(';');
                    for (let i = 0; i < cookies.length; i++) {
                        const cookie = cookies[i].trim();
                        if (cookie.substring(0, name.length + 1) === (name + '=')) {
                            cookieValue = decodeURIComponent(cookie.substring(name.length + 1));
                            break;
                        }
                    }
                }
                return cookieValue;
            }
        </script>
        <script>
            function confirmDelete(post_id) {
                const reply = confirm("정말 삭제하시겠습니까?")
                if(reply) {
                    $.ajax({
                        type: 'POST',
                        url:'/deletepost',
                        data: {
                            'csrfmiddlewaretoken': getCookie('csrftoken'),
                            'id': post_id,
                            'confirm': "confirm",
                        },
                        success:function(res){
                            if(res.deleteRes === "success") {
                                location.href = "/"
                            } else if(res.deleteRes === "fail") {
                                alert('failed')
                            }
                        }
                    })
                }
            }
        </script>
        <script>
            function ajaxComment(post_id) {
                const comment_el = $(`#comment-input-${post_id}`)
                const comment = comment_el.val()
                const submitBtn = $('#submit')
                document.getElementById(`comment-input-${post_id}`).value = ""
                submitBtn.prop('disabled', true);
                $.ajax({
                    type: 'POST',
                    url:'/comment',
                    data: {
                        'csrfmiddlewaretoken': getCookie('csrftoken'),
                        'post_id': post_id,
                        'comment': comment,
                    },
                    success:function(res){
                        if(res.commentRes === "success") {
                            const comment_obj_id = `#comment_obj_${post_id}`
                            const commentDiv = document.querySelector(comment_obj_id)
                            const html1 = `<p class="sympathy"> <b class="user">${res.user1}</b>&nbsp;&nbsp;${res.comment1} </p>`
                            const html2 = `<p class="sympathy"> <b class="user">${res.user2}</b>&nbsp;&nbsp;${res.comment2} </p>`
                            const html3 = `<p class="sympathy"> <b class="user">${res.user3}</b>&nbsp;&nbsp;${res.comment3} </p>`
                            commentDiv.innerHTML = html1 + html2 + html3
                        } else if(res.commentRes === "fail") {
                            alert('failed')
                        }
                        submitBtn.prop('disabled', false);
                    }
                })
            }
        </script>
        <script>
            function ajaxHeart(post_id) {
                $.ajax({
                    type: 'POST',
                    url:'/addheart',
                    data: {
                        'csrfmiddlewaretoken': getCookie('csrftoken'),
                        'post_id': post_id,
                    },
                    success:function(res){
                        if(res.r === "s") {
                            if ( document.getElementById(`heart-${post_id}`).classList.contains('fas') ) {
                                document.getElementById(`heart-${post_id}`).classList.add('far')
                                document.getElementById(`heart-${post_id}`).classList.remove('fas')
                                let like_cnt = document.getElementById(`like-${post_id}`)
                                like_cnt.innerText = Number(like_cnt.innerText)-1
                            }
                            else if ( document.getElementById(`heart-${post_id}`).classList.contains('far') ) {
                                document.getElementById(`heart-${post_id}`).classList.add('fas')
                                document.getElementById(`heart-${post_id}`).classList.remove('far')
                                let like_cnt = document.getElementById(`like-${post_id}`)
                                like_cnt.innerText = Number(like_cnt.innerText)+1
                            }
                        }
                    }
                })
            }
        </script>
        <script>
            function ajaxHeartCheck(post_id) {
                $.ajax({
                    type: 'POST',
                    url:'/checkheart',
                    data: {
                        'csrfmiddlewaretoken': getCookie('csrftoken'),
                        'post_id': post_id,
                    },
                    success:function(res){
                        if(res.r === "y") {
                            if (document.getElementById(`heart-${post_id}`).classList.contains('far')) {
                                document.getElementById(`heart-${post_id}`).classList.add('fas')
                                document.getElementById(`heart-${post_id}`).classList.remove('far')
                            }
                        }
                        else {
                            if ( document.getElementById(`heart-${post_id}`).classList.contains('fas') ) {
                                document.getElementById(`heart-${post_id}`).classList.add('far')
                                document.getElementById(`heart-${post_id}`).classList.remove('fas')
                            }
                        }
                    }
                })
            }
        </script>
        <script>
            function changeCol(id) {
                if ($(`#comment-input-${String(id)}`).val().length > 0) {
                    document.getElementById(`submit-${String(id)}`).style.color = "#0095f6"
                    $(`#submit-${String(id)}`).prop('disabled', false);
                } else {
                    document.getElementById(`submit-${String(id)}`).style.color = "#B7E1FD"
                    $(`#submit-${String(id)}`).prop('disabled', true);
                }
            }
        </script>
    </section>
{% endblock %}