{% extends '_layout.html' %}

{% block content %}
<div>
    <div class="content">
        <div>
            <!-- 사진 -->
            <img src="./static/image/식극의 소마.png" alt="식극의 소마">
        </div>
        <div>
            <div>
                <div class="lov">
                    <!-- 하트 -->
                    <i class="far fa-heart"></i>
                    <!-- <img src="./image/lov.png" alt="하트"> -->
                </div>
                <div>
                    <!-- 설명 -->
                    <p class="explanation">
                        <bold class="user">jademon</bold>&nbsp;&nbsp;오늘은 식극의 소마를 봤다 정말 짱 재밌었다!!
                    </p>
                </div>
            </div>
            <div>
                <!-- 댓글 -->
                <div class="commet">
                    <p class="sympathy">
                        <bold class="user">redesigned</bold>&nbsp;&nbsp;ㅁㄴㅇㄹ
                    </p>
                    <p class="sympathy">
                        <bold class="user">redesigned</bold>&nbsp;&nbsp;ㅁㄴㅇㄹ
                    </p>
                    <p class="sympathy">
                        <bold class="user">redesigned</bold>&nbsp;&nbsp;ㅁㄴㅇㄹ
                    </p>
                </div>
            </div>
        </div>
    </div>
    <div class="comment">
        <form class="form-inline">
            <div class="form-group">
                <label for="inputPassword2" class="sr-only"></label>
                <input type="text" class="text" placeholder="댓글 달기">
            </div>
            <button type="submit" class="btn btn-default">게시</button>
        </form>
    </div>
</div>
{% endblock %}