{% extends '_layout.html' %}

{% block navbar %}
    <li class="nav-item">
        <a class="nav-link" href="/">홈</a>
    </li>
    <li class="nav-item">
        <a class="nav-link" href="/addpost">게시글 추가</a>
    </li>
    <li class="nav-item dropdown">
        <a class="nav-link dropdown-toggle" role="button" data-bs-toggle="dropdown" aria-expanded="false">
            <img src="{{ user.profile_pic.url }}" width="30rem" class="d-inline-block rounded-circle" alt="">
        </a>
        <ul class="dropdown-menu">
            <li><a class="dropdown-item active" href="/mypage">프로필</a></li>
            <li><a class="dropdown-item" href="#">설정</a></li>
            <li>
                <hr class="dropdown-divider">
            </li>
            <li><a class="dropdown-item" href="/logout">로그아웃</a></li>
        </ul>
    </li>
{% endblock %}

{% block content %}
    <section>
        <div class="mypage-content">
            <div class="mypage-head">
                <div class="profil">
                    <img src="{{ user.profile_pic.url }}" class="profil-photo" alt="">
                </div>
                <div class="kit">
                    <div>
                        <h2 class="nick">{{ user.nickname }}</h2>
                        <a href="#"><button class="profil-button">프로필 편집</button></a>
                    </div>
                    <div class="follo">
                        팔로워 <strong>XX</strong>&nbsp;
                        팔로우<strong>XX</strong>
                    </div>
                    <div>
                        <p>
                            {{ user.introduce }}
                        </p>
                    </div>
                </div>
            </div>
            <div class="mypage-main">
                <span class="item"><img class="cont-img" src="/static/image/식극의 소마.png" alt=""></span>
                <span class="item"><img class="cont-img" src="/static/image/식극의 소마.png" alt=""></span>
                <span class="item"><img class="cont-img" src="/static/image/식극의 소마.png" alt=""></span>
                <span class="item"><img class="cont-img" src="/static/image/식극의 소마.png" alt=""></span>
                <span class="item"><img class="cont-img" src="/static/image/식극의 소마.png" alt=""></span>
                <span class="item"><img class="cont-img" src="/static/image/식극의 소마.png" alt=""></span>
            </div>
        </div>
    </section>
{% endblock %}