{% extends '_layout.html' %}

{% block content %}
    <div class="mypage-content">
        <div class="mypage-head">
            <div class="profil">
                <img src="./image/profil.png" class="profil-photo">
            </div>
            <div class="kit">
                <div>
                    <h2 class="nick">GBsw1234</h2>
                    <button class="profil-button" href="#">프로필 편집</button>
                </div>
                <div class="follo">
                    팔로워 <strong>XX</strong>&nbsp;
                    팔로우<strong>XX</strong>
                </div>
                <div>
                    <p>
                        printf("Hello, World!");
                    </p>
                </div>
            </div>
            </div>
            <div class="mypage-main">
                <span class="item"><img class="cont-img" src="image/식극의 소마.png"></span>
                <span class="item"><img class="cont-img" src="image/식극의 소마.png"></span>
                <span class="item"><img class="cont-img" src="image/식극의 소마.png"></span>
                <span class="item"><img class="cont-img" src="image/식극의 소마.png"></span>
                <span class="item"><img class="cont-img" src="image/식극의 소마.png"></span>
                <span class="item"><img class="cont-img" src="image/식극의 소마.png"></span>
            </div>
        </div>
    </div>
{% endblock %}