{% extends '_layout.html' %}

{% block navbar %}
    <li class="nav-item">
        <a class="nav-link" href="/">홈</a>
    </li>
    <li class="nav-item">
        <a class="nav-link" href="/addpost">게시글 추가</a>
    </li>
    <li class="nav-item dropdown">
        <a class="nav-link dropdown-toggle" role="button" data-bs-toggle="dropdown" aria-expanded="false">
            <img src="{{ profile_pic }}" width="30rem" class="d-inline-block rounded-circle" alt="">
        </a>
        <ul class="dropdown-menu">
            <li><a class="dropdown-item" href="/mypage">프로필</a></li>
            <li><a class="dropdown-item" href="/setting">설정</a></li>
            <li>
                <hr class="dropdown-divider">
            </li>
            <li><a class="dropdown-item" href="/logout">로그아웃</a></li>
        </ul>
    </li>
{% endblock %}

{% block content %}
    <section class="container">
        <div class="post-content content">
            <div class="left left-margin post-img">
{#                <div class="border rounded-3" style="width: 100%;">#}
{#                    <div style="position: relative; padding-top: 100%; overflow: hidden">#}
{#                        <img style="position: absolute; top: 0; left: 0; right: 0; bottom: 0; object-fit: contain" src="{{ post.image.url }}" alt="">#}
{#                    </div>#}
{#                </div>#}
                <div class="border rounded-3" style="width: 100%;">
                    <div style="overflow: hidden">
                        <img style="max-width: 100%; max-height: 600px; width: 100%; height: auto; object-fit: contain" src="{{ post.image.url }}" alt="">
                    </div>
                </div>
            </div>
            <div class="left cont">
                <div>
                    <!-- 설명 -->
                    <ul class="navbar navbar-light navbar-expand-lg navbar-light" style="margin-bottom: -.2rem;">
                        <li class="nav-item">
                            <a class="nav-link" href="#">
                                <img src="{{ post.author.profile_pic.url }}" style="border-radius: 20px; margin-left: -3rem;" width="30rem" class="d-inline-block" alt="">
                                <b class="user" style="color: black;">&nbsp;{{ post.author.nickname }}</b>
                            </a>
                        </li>
                        <li>
                            <p style="padding-top: .6rem; text-align: center;">

                            </p>
                        </li>
                        {% if user_id == post.author.id %}
                        <li class="nav-item dropdown ms-auto" style="padding-bottom: .5rem;">
                            <a class="nav-link" href="#" id="navbarDropdown" role="button" data-bs-toggle="dropdown"
                                aria-expanded="false">
                                <i class="fas fa-caret-down" style="color: #8E8E8E;"></i>
                            </a>
                            <ul class="dropdown-menu" aria-labelledby="navbarDropdown">
                                <li><a class="dropdown-item" href="/editpost?id={{ post.id }}">수정</a></li>
                                <li>
                                    <hr class="dropdown-divider">
                                </li>
                                <li><a class="dropdown-item" href="" onclick="confirmDelete({{ post.id }})">삭제</a></li>
                            </ul>
                        </li>
                        {% endif %}
                    </ul>
                </div>
                <div>
                    <div>
                        <div class="commet" style="overflow:auto; ">
                            <div style="clear: both;">
                                <div style="float: left; padding-right: .5rem;">
                                    <a href="/@{{ post.author.nickname }}">
                                        <p class="explanation" style="color: black;">
                                            <img src="{{ post.author.profile_pic.url }}" style="border-radius: 20px;" width="30rem" class="d-inline-block" alt="">
                                            <bold class="user" style="color: black;">&nbsp;{{ post.author.nickname }}</bold>
                                        </p>
                                    </a>
                                </div>
                                <div>
                                    <p class="explanation" style="color: black;">
                                        {{ post.description }}
                                    </p>
                                </div>
                            </div>
                            {% for comment in post.post_comment.all %}
                            <div style="clear: both;">
                                <div style="float: left; padding-right: .5rem;">
                                    <a href="/@{{ comment.user_id.nickname }}">
                                        <p class="sympathy" style="color: black;">
                                            <img src="{{ comment.user_id.profile_pic.url }}" style="border-radius: 20px;" width="30rem" class="d-inline-block" alt="">
                                            <bold class="user" style="color: black;">&nbsp;{{ comment.user_id.nickname }}</bold>
                                        </p>
                                    </a>
                                </div>
                                <div>
                                    <p class="sympathy" style="color: black;">
                                        {{ comment.comment }}
                                    </p>
                                </div>
                            </div>
                            {% endfor %}
                        </div>
                    </div>
                    <div style="bottom: auto">
                        <div>
                            <p style="font-size: 9px; color: #8E8E8E; margin-top: .2rem; margin-bottom: auto;">
                                &nbsp;&nbsp;{{ post.created_at.date }}
                            </p>
                        </div>
                        <div class="lov" style="margin: .3rem;">
                            <a><i class="far fa-heart fa-sm"></i></a>
                        </div>

                        <div class="commen">
                            <form class="form-inline" method="post">
                                {% csrf_token %}
                                <div class="input-group">
                                    <input id="comment-input" type="text" class="form-control" placeholder="댓글 달기" />
                                    <button id="submit" type="button" style="width: 70px;" onclick="ajaxComment({{ post.id }})" disabled>게시</button>
                                </div>
                            </form>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <script src="/static/jquery/jquery-3.2.1.min.js"></script>
        <script>
            $(document).ready(function () {
                $('#comment-input').on('input change', function () {
                    if ($(this).val().length > 0) {
                        document.getElementById('submit').style.color = "#0095f6"
                        $('#submit').prop('disabled', false);
                    } else {
                        document.getElementById('submit').style.color = "#B7E1FD"
                        $('#submit').prop('disabled', true);
                    }
                });
            });
        </script>
        <script>
            function getCookie(name) {
                let cookieValue = null;
                if (document.cookie && document.cookie !== '') {
                    const cookies = document.cookie.split(';');
                    for (let i = 0; i < cookies.length; i++) {
                        const cookie = cookies[i].trim();
                        if (cookie.substring(0, name.length + 1) === (name + '=')) {
                            cookieValue = decodeURIComponent(cookie.substring(name.length + 1));
                            break;
                        }
                    }
                }
                return cookieValue;
            }
        </script>
        <script>
            function confirmDelete(post_id) {
                const reply = confirm("정말 삭제하시겠습니까?")
                if(reply) {
                    $.ajax({
                        type: 'POST',
                        url:'/deletepost',
                        data: {
                            'csrfmiddlewaretoken': getCookie('csrftoken'),
                            'id': post_id,
                            'confirm': "confirm",
                        },
                        success:function(res){
                            if(res.deleteRes === "success") {
                                location.href = "/"
                            } else if(res.deleteRes === "fail") {
                                alert('failed')
                            }
                        }
                    })
                }
            }
        </script>
        <script>
            function ajaxComment(post_id) {
                const comment_el = $('#comment-input')
                const comment = comment_el.val()
                const submitBtn = $('#submit')
                comment_el.value = ""
                submitBtn.prop('disabled', true);
                $.ajax({
                    type: 'POST',
                    url:'/comment',
                    data: {
                        'csrfmiddlewaretoken': getCookie('csrftoken'),
                        'post_id': post_id,
                        'comment': comment,
                    },
                    success:function(res){
                        if(res.commentRes === "success") {
                            location.href = "/post?id={{ post.id }}"
                        } else if(res.commentRes === "fail") {
                            alert('failed')
                        }
                        submitBtn.prop('disabled', false);
                    }
                })
            }
        </script>
    </section>
{% endblock %}