{% extends '_layout.html' %}

{% block navbar %}
    <li class="nav-item">
        <a class="nav-link" href="/">홈</a>
    </li>
    <li class="nav-item">
        <a class="nav-link" href="/addpost">게시글 추가</a>
    </li>
    <li class="nav-item dropdown">
        <a class="nav-link dropdown-toggle" role="button" data-bs-toggle="dropdown" aria-expanded="false">
            <img src="{{ profile_pic }}" width="30rem" class="d-inline-block rounded-circle" alt="">
        </a>
        <ul class="dropdown-menu">
            <li><a class="dropdown-item" href="/mypage">프로필</a></li>
            <li><a class="dropdown-item" href="/setting">설정</a></li>
            <li>
                <hr class="dropdown-divider">
            </li>
            <li><a class="dropdown-item" href="/logout">로그아웃</a></li>
        </ul>
    </li>
{% endblock %}

{% block content %}
    <section class="container">
        <div class="post-content content">
            <div class="row"  style="float: left;">
                <div class="col navbar-light" style="font-size: 12px;">
                    <ul class="nav flex-column navbar-nav">
                        <li class="nav-item">
                            <a class="nav-link" href="/setting">프로필</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link active" href="/changepw">비밀번호 변경</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" style="color: red;" href="/logout">로그아웃</a>
                        </li>
                    </ul>
                </div>
            </div>
            <div class="col text-center">
                <form class="row login_form" method="post">
                    <h4 class="my-5" style="margin-top: 1.5rem;">비밀번호 변경</h4>
                    <div class="col text-center">
                        <div class="col-md-12 form-group">
                            <label>
                                <input id="current-password" style="margin-bottom: .4rem;" aria-label="현재 비밀번호" class="form-control" aria-required="true" name="password" type="password" value="" placeholder="현재 비밀번호" onfocus="this.placeholder = ''" onblur="this.placeholder = '현재 비밀번호'">
                            </label>
                        </div>
                        <div class="my-2"></div>
                        <div class="col-md-12 form-group">
                            <label>
                                <input id="new-password" style="margin-bottom: .4rem;" aria-label="새 비밀번호" class="form-control" aria-required="true" name="password" type="password" value="" placeholder="새 비밀번호" onfocus="this.placeholder = ''" onblur="this.placeholder = '새 비밀번호'">
                            </label>
                        </div>
                        <div class="col-md-12 form-group">
                            <label>
                                <input id="new-password-check" style="margin-bottom: .4rem;" aria-label="새 비밀번호 확인" class="form-control" aria-required="true" name="password-check" type="password" value="" placeholder="새 비밀번호 확인" onfocus="this.placeholder = ''" onblur="this.placeholder = '새 비밀번호 확인'">
                            </label>
                        </div>
                        <div>
                            <p id="error-msg" style="color: red; font-size: 10pt"></p>
                        </div>
                        <div class="col-md-12 form-group">
                            <button id="submit" style="margin-top: .5rem; width: auto; min-width: 12rem; margin-bottom: 2rem;" type="button" class="btn btn-primary" onclick="ajaxChangePw()" disabled>확인</button>
                        </div>
                        <div class="col m-5"></div>
                    </div>
                </form>
            </div>
        </div>
        <script src="/static/jquery/jquery-3.2.1.min.js"></script>
         <script>
            $(document).ready(function () {
                $('#current-password').on('input change', function () {
                    handleInputChange()
                })
                $('#new-password').on('input change', function () {
                    handleInputChange()
                })
                $('#new-password-check').on('input change', function () {
                    handleInputChange()
                })
            })
        </script>
        <script>
            function handleInputChange() {
                const err_msg =  document.querySelector("#error-msg")
                $('#submit').prop('disabled', true)
                if ($('#current-password').val().length < 1 && $('#new-password').val().length < 1 && $('#new-password-check').val().length < 1) {
                    err_msg.innerText = ""
                } else if (!($('#current-password').val().length >= 4)) {
                    err_msg.innerText = "현재 비밀번호를 입력해주세요"
                } else if (!($('#new-password').val().length >= 4)) {
                    err_msg.innerText = "새로운 비밀번호를 입력해주세요"
                } else if (!($('#new-password-check').val().length >= 4)) {
                    err_msg.innerText = "새로운 비밀번호를 한번 더 입력해주세요"
                } else if (!($('#new-password-check').val().length >= $('#new-password').val().length)) {
                    err_msg.innerText = "새로운 비밀번호를 한번 더 입력해주세요"
                } else if (!($('#new-password-check').val() === $('#new-password').val())) {
                    err_msg.innerText = "새로운 비밀번호가 다릅니다"
                } else {
                    err_msg.innerText = ""
                    $('#submit').prop('disabled', false)
                }
            }
        </script>
        <script>
            function getCookie(name) {
                let cookieValue = null;
                if (document.cookie && document.cookie !== '') {
                    const cookies = document.cookie.split(';');
                    for (let i = 0; i < cookies.length; i++) {
                        const cookie = cookies[i].trim();
                        if (cookie.substring(0, name.length + 1) === (name + '=')) {
                            cookieValue = decodeURIComponent(cookie.substring(name.length + 1));
                            break;
                        }
                    }
                }
                return cookieValue;
            }
        </script>
        <script>
            function ajaxChangePw() {
                const submitBtn = $('#submit')
                submitBtn.prop('disabled', true);

                const password = $('#current-password').val()
                const new_password = $('#new-password').val()
                const new_password_check = $('#new-password-check').val()
                $.ajax({
                    type: 'POST',
                    url:'/changepw',
                    data: {
                        'csrfmiddlewaretoken': getCookie('csrftoken'),
                        'password': password,
                        'new-password': new_password,
                        'new-password-check': new_password_check,
                    },
                    success:function(res){
                        if(res.changepwRes === "success"){
                            location.href = "/mypage"
                        } else if(res.changepwRes === "fail") {
                            document.querySelector("#error-msg").innerText = "현재 비밀번호가 맞지 않습니다"
                        }
                    }
                })
                submitBtn.prop('disabled', false);
            }
        </script>
    </section>
{% endblock %}