<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Document</title>
  <link rel="stylesheet" href="./css/style.css">
  
</head>
<body>
  <header class="navbar navbar-static-top bs-docs-nav" id="top" role="banner">
    <div class="container">
      <div class="navbar-header">
        <button class="navbar-toggle collapsed" type="button" data-toggle="collapse" data-target=".bs-navbar-collapse">
          <span class="sr-only">네비게이션 끄기/켜기</span>
          <span class="icon-bar"></span>
          <span class="icon-bar"></span>
          <span class="icon-bar"></span>
        </button>
        <a href="../" class="navbar-brand">부트스트랩</a>
      </div>
      <nav class="navbar-collapse bs-navbar-collapse collapse in" aria-expanded="true" style="">
        <ul class="nav navbar-nav">
          <li>
            <a href="../getting-started/">시작하기</a>
          </li>
          <li class="active">
            <a href="../css/">CSS</a>
          </li>
          <li>
            <a href="../components/">콤포넌트</a>
          </li>
          <li>
            <a href="../javascript/">자바스크립트</a>
          </li>
          <li>
            <a href="../customize/">맞춤화</a>
          </li>
        </ul>
        <ul class="nav navbar-nav navbar-right">
          <li><a href="http://expo.getbootstrap.com" onclick="ga('send', 'event', 'Navbar', 'Community links', 'Expo');">전시관</a></li>
          <li><a href="http://blog.getbootstrap.com" onclick="ga('send', 'event', 'Navbar', 'Community links', 'Blog');">블로그</a></li>
        </ul>
      </nav>
    </div>
  </header>
  <p>hello world</p>
</body>
</html>